.bottom {
  width: 359;
  height: 40;
  border-radius: 20;

  background: #fff9ff;
  justify-content: center;
}

.slider {
  height: 40;
  width: 119;
  border-radius: 20;

  /* box-shadow: 0 3.55 5.3 rgba(0, 0, 0, 0.2455), 0 1.3 2 rgba(0, 0, 0, 0.12); */

  background: blueviolet;
  justify-content: center;
  align-items: center;
}

.labels {
  height: 13;
  width: 64;

  background: aquamarine;
  justify-content: center;
}
