<ns-amd-action-bar title="Tik-Tak-Toe"></ns-amd-action-bar>
<StackLayout class="wrapper">
  <FlexboxLayout
    class="grid"
    flexDirection="row"
    flexWrap="wrap"
    *ngIf="this.winner === ''"
  >
    <Button
      *ngFor="let field of fieldArray; let i = index"
      class="box {{ this.fieldArray[i] }}"
      (tap)="onClicked(i)"
    ></Button>
  </FlexboxLayout>
  <Label
    text="Spieler {{ this.playerC }} als nächster!"
    class="lbl"
    *ngIf="this.winner === ''"
  ></Label>
  <Label
    text="Spieler {{ this.winner }} hat gewonnen."
    *ngIf="this.winner != ''"
    class="lbl"
  ></Label>
  <Button (tap)="onNewGame()" class="btn" text="New Game"></Button>
</StackLayout>
