.wrapper {
  height: 600;
  width: 400;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.lbl {
  text-align: center;
  padding-top: 40;
  font-size: 32;
  font-weight: bold;
}

.grid {
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 400;
  width: 400;
}

.box {
  height: 100;
  width: 100;
  background-color: aqua;
  margin: 5;
}

.White {
  background-color: #a62828;
}

.Black {
  background: #043859;
}

.blue {
  background-color: #176fa6;
}

.btn {
  background-color: #176fa6;
  width: 120;
  height: 56;
  text-align: center;
  vertical-align: bottom;
  border: 1 #176fa6 solid;
  border-radius: 28;
  color: #ffffff;
  font-size: 15;
  margin: 24;
}
