<ns-amd-action-bar title="Home"></ns-amd-action-bar>
<AbsoluteLayout
  style="background-color: blue;"
  class="page"
  navigatingTo="navigatingTo"
>
  <FlexboxLayout class="sv" flexDirection="column">
    <!-- <StackLayout class="topper"></StackLayout> -->
    <!-- <Label text="Fortschritt ist das Werk des Unzufriedenen"></Label> -->
    <ns-button
      text="Button"
      color="blue"
      styling="contained"
      disabled="false"
    ></ns-button>
    <ns-segmentedControl></ns-segmentedControl>
  </FlexboxLayout>

  <ns-fab id="btnFab" color="black" styling="standard"></ns-fab>
</AbsoluteLayout>
