FlexboxLayout {
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
}

label {
  align-items: center;
  text-align: center;
  margin: 10;
}

.sv {
  height: 100%;
  width: 100%;
}

.topper {
  height: 200;
  width: 100%;
  background-color: #176fa6;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.fab-container {
  margin-top: 40;
  bottom: 56;
}

.page {
  height: 100%;
  width: 100%;
  border: 5 solid black;
}

#btnFab {
  position: fixed;
  background-color: red;
}
