<ns-amd-action-bar title="Timer"></ns-amd-action-bar>
<GridLayout rows="120,*,100" columns="*" class="wrapper">
  <TextField
    row="0"
    class="input"
    type="number"
    hint="Gewünschte Zeit in Sekunden"
    ngModel
    #timeCtrl="ngModel"
  ></TextField>

  <GridLayout
    row="1"
    rows="*,*"
    columns="*,*"
    class="lbl-wrapper"
    *ngIf="inputValue > 0"
  >
    <Label [text]="minutes" row="0" col="0" class="ctr"></Label>
    <Label text="Minuten" row="0" col="1" class="ctr"></Label>
    <Label [text]="seconds" row="1" col="0" class="ctr"></Label>
    <Label text="Sekunden" row="1" col="1" class="ctr"></Label>
  </GridLayout>

  <GridLayout class="btn-wrapper" row="2" rows="*" columns="*,*">
    <Button
      class="btn"
      text="Start"
      (tap)="onInputChange(timeCtrl.value); onStart()"
      col="0"
    ></Button>
    <Button class="btn" text="Stopp" (tap)="onStop()" col="1"></Button>
  </GridLayout>
</GridLayout>
