.wrapper {
    background-color: #f2f2f2;
}

.lbl-wrapper {
    height: 300;
    width: 300;
}

.btn-wrapper {
    vertical-align: bottom;
}

.input {
    background-color: #f2f2f2;
    height: 40;
}

.ctr {
    justify-content: center;
    text-align: center;
    align-content: center;
    font-size: 32;
    font-weight: bold;
}

.btn {
    background-color: #176fa6;
    width: 80;
    height: 56;
    text-align: center;
    vertical-align: bottom;
    border: 1 solid #176fa6;
    border-radius: 28;
    color: #ffffff;
    font-size: 15;
    margin: 24;
}
