@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/default.css";
/* @import "./theme/colors"; */

button.-primary {
  font-size: 18;
}

label {
  font-size: 16;
  color: #0d0d0d;
}

.drawer-container {
  background-color: #f2f2f2;
}

.bigWrapper {
  height: 100%;
  width: 100%;
}
