<StackLayout>
  <StackLayout class="list-header">
    <Label text="Adrian Däschleins App" id="1"></Label>
    <Label text="Schau dich um, hab Spaß." id="2"></Label>
  </StackLayout>
  <Label
    class="list-item"
    [text]="item.title"
    horizontalAlignment="left"
    *ngFor="let item of items"
    [nsRouterLink]="[item.path]"
    (tap)="onToggleMenu()"
  ></Label>
</StackLayout>
