.list-header {
  height: 250;
  width: auto;
  background-color: #70b8ff;
  color: whitesmoke;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;

  vertical-align: bottom;
}

.list-item {
  margin: 16;
  border: #57beff;
}

#1 {
  margin-left: 16px;
  margin-bottom: 16px;
  color: white;
  font-weight: bold;
}

#2 {
  margin-left: 36px;
  margin-bottom: 16px;
  color: white;
}
