/* Add mobile styles for the component here.  */

.lbl {
    text-align: center;
    padding-top: 70;
    font-size: 32;
    font-weight: bold;
}

.btn {
    background-color: #176fa6;
    width: 120;
    height: 56;
    text-align: center;
    vertical-align: bottom;
    border-radius: 28;
    color: #ffffff;
    font-size: 15;
    margin: 24;
}
