<ns-amd-action-bar title="Fli-Fla-Flu"></ns-amd-action-bar>
<StackLayout>
  <Button text="Schere" class="btn" (tap)="onPlaying(0)"></Button>
  <Button text="Stein" class="btn" (tap)="onPlaying(1)"></Button>
  <Button text="Papier" class="btn" (tap)="onPlaying(2)"></Button>

  <Label class="lbl" text="vs. {{ computerP }}"></Label>

  <Label class="lbl" *ngIf="this.result" [text]="this.result"></Label>
</StackLayout>
