<ActionBar [title]="title">
  <NavigationButton
    *ngIf="android"
    icon="res://menu_black"
    (tap)="onToggleMenu()"
  ></NavigationButton>
  <ActionItem *ngIf="!android" ios.position="left">
    <Label text="MENU"></Label>
  </ActionItem>
</ActionBar>
