StackLayout {
  height: 56;
  width: 56;
  vertical-align: middle;
}

.float-btn {
  border-radius: 28;
}

.float-btn-text {
  text-align: center;
  /* vertical-align: middle; */
  align-content: center;
  color: white;
  font-size: 24;
}

.standard {
}

.small {
  height: 40;
  width: 40;
}

.extended {
}
