Button {
  /* --ise-primary: black; */
  height: 36;
  width: 108;

  border-radius: 18;

  color: #ffffff;
  /* background-color: var(--ise-primary); */
  background-color: blueviolet;
}

Button.contained {
  background-color: green;
  color: var(--ise-onPrimary);
}

/* Button.outlined {} */

/* Button.text {} */
