.btn {
  background-color: #176fa6;
  width: 120;
  height: 56;
  text-align: center;
  vertical-align: middle;
  border: 1 solid #176fa6;
  border-radius: 28;
}

.btn-text {
  color: #ffffff;
  font-size: 15;
  margin: 10;
}
