<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<RadSideDrawer>
  <StackLayout tkDrawerContent class="drawer-container">
    <ns-amd-ab-list></ns-amd-ab-list>
  </StackLayout>
  <StackLayout tkMainContent class="bigWrapper">
    <page-router-outlet></page-router-outlet>
  </StackLayout>
</RadSideDrawer>
