<ns-amd-action-bar title="Clickcounter"></ns-amd-action-bar>
<GridLayout class="wrapper" rows="*,*,*" columns="*">
  <Label [text]="clickcounter" class="count" row="0"></Label>

  <Button (tap)="onCount()" class="btn" text="Count" row="2"></Button>
</GridLayout>
<!-- <ns-amd-button (tap)="onCount()" text="Count"></ns-amd-button> -->
